<div class="history-container">
  <div *ngIf="history.length > 0">
    <div *ngFor="let item of history" class="history-item">
      <h3>Imagen procesada: {{ item.timestamp }}</h3>
      <img [src]="item.imageUrl" alt="Imagen Procesada" width="100" />
      <div class="details">
        <p><strong>Etiquetas:</strong></p>
        <ul>
          <li *ngFor="let etiqueta of item.labels">
            {{ etiqueta.label }} - {{ etiqueta.score | number:'1.2-2' }}%
          </li>
        </ul>
        <p><strong>Fecha:</strong> {{ item.timestamp | date: 'short' }}</p>
        <!-- Botón de bocina -->
        <button (click)="speak(item)">
          <i class="fa fa-volume-up" aria-hidden="true"></i> Escuchar
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="history.length === 0">
  <p>No hay imágenes procesadas aún.</p>
</div>